In [1]:
import numpy as np
from math import sqrt
from sklearn.metrics import mean_squared_error
import pandas as pd
#url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
confirmed = pd.read_csv(url, error_bad_lines=False)
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'
dead = pd.read_csv(url, error_bad_lines=False)
url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'
recovered = pd.read_csv(url, error_bad_lines=False)

In [2]:
confirmed['region']=confirmed['Country/Region'].map(str)+'_'+confirmed['Province/State'].map(str)
dead['region']=dead['Country/Region'].map(str)+'_'+dead['Province/State'].map(str)
recovered['region']=recovered['Country/Region'].map(str)+'_'+recovered['Province/State'].map(str)

In [3]:
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20,2/28/20,2/29/20,region
0,Anhui,Mainland China,31.8257,117.2264,1,9,15,39,60,70,...,988,989,989,989,989,989,989,990,990,Mainland China_Anhui
1,Beijing,Mainland China,40.1824,116.4142,14,22,36,41,68,80,...,396,399,399,399,400,400,410,410,411,Mainland China_Beijing
2,Chongqing,Mainland China,30.0572,107.8740,6,9,27,57,75,110,...,572,573,575,576,576,576,576,576,576,Mainland China_Chongqing
3,Fujian,Mainland China,26.0789,117.9874,1,5,10,18,35,59,...,293,293,293,293,294,294,296,296,296,Mainland China_Fujian
4,Gansu,Mainland China,36.0611,103.8343,0,2,2,4,7,14,...,91,91,91,91,91,91,91,91,91,Mainland China_Gansu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,NaN,Luxembourg,49.8153,6.1296,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Luxembourg_nan
115,NaN,Monaco,43.7333,7.4167,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Monaco_nan
116,NaN,Qatar,25.3548,51.1839,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,Qatar_nan
117,"Portland, OR",US,45.5051,-122.6750,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,"US_Portland, OR"
118,"Snohomish County, WA",US,48.0330,-121.8339,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,"US_Snohomish County, WA"

In [6]:
confirmed.loc[confirmed['2/29/20'] == 0]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/21/20,2/22/20,2/23/20,2/24/20,2/25/20,2/26/20,2/27/20,2/28/20,2/29/20,region
76,"Omaha, NE (From Diamond Princess)",US,41.2545,-95.9758,0,0,0,0,0,0,...,11,11,11,0,0,0,0,0,0,"US_Omaha, NE (From Diamond Princess)"
77,"Travis, CA (From Diamond Princess)",US,38.2721,-121.9399,0,0,0,0,0,0,...,5,5,5,0,0,0,0,0,0,"US_Travis, CA (From Diamond Princess)"
78,From Diamond Princess,Australia,35.4437,139.6380,0,0,0,0,0,0,...,4,7,7,7,7,7,8,8,0,Australia_From Diamond Princess
79,"Lackland, TX (From Diamond Princess)",US,29.3829,-98.6134,0,0,0,0,0,0,...,2,2,2,0,0,0,0,0,0,"US_Lackland, TX (From Diamond Princess)"